{% extends "layouts/base.html" %}
{% block main %}
<main>
    <div class="container login-container">
        <h1>{{_('შესვლა')}}</h1>
        <form class="authorize" method="post">
            {{ form.hidden_tag() }}
            <div>
                {{ form.email.label }}
                {{ form.email }}
            </div>
            <div>
                {{ form.password.label }}
                {{ form.password }}
            </div>
            <label class="confirm-terms">
                <input type="checkbox" name="remember">
                <span>{{_('გავეცანი დოკუმენტს')}}:</span>
                <a href="{{ url_for('main.terms') }}">{{_('წესები და პირობები')}}</a>
            </label>
            <div class="login-btn">
                {{ form.submit(class='submit') }}
            </div>
        </form>
        <div class="calltoaction">
            <span>{{_('არ გაქვთ პროფილი? გაიარეთ')}}</span>
            <a href="{{url_for('auth.register')}}">{{_('რეგისტრაცია')}}</a>
        </div>
        <div class="calltoaction">
            <span>{{_('დაგავიწყდათ პაროლი')}}? </span>
            <a href="{{url_for('auth.register')}}">{{_('პაროლის აღდგენა')}}</a>
        </div>
    </div>
</main>
{% endblock %}

