{% extends "layouts/base.html" %}
{% block main %}
<main>

    <div class="container login-container">
        <h1>{{_('შესვლა')}}</h1>
        <form class="authorize" method="post">
            {{ form.hidden_tag() }}
            <div>
                <label for="email">{{_("მომხმარებელი")}}</label>
                {{ form.email }}
                <div>
                    {{ error_msg.email }}
                </div>
            </div>
            <div>
                <label for="password">{{_("პაროლი")}}</label>
                {{ form.password }}
                <div>
                    {{ error_msg.password }}
                </div>
            </div>
            <div class="login-btn">
                <button type="submit">{{_("შესვლა")}}</button>
            </div>
        </form>
        <div class="calltoaction">
            <span>{{_('არ გაქვთ პროფილი? გაიარეთ')}}</span>
            <a href="{{url_for('auth.register')}}">{{_('რეგისტრაცია')}}</a>
        </div>
        {% if form.errors %}
        <div class="calltoaction">
            <span>{{_('დაგავიწყდათ პაროლი')}}? </span>
            <a href="{{url_for('auth.reset_password')}}">{{_('პაროლის აღდგენა')}}</a>
        </div>
        {% endif %}
    </div>
</main>
{% endblock %}

