{% extends "layouts/base.html" %}
{% block main %}
<main>
    <div class="container reset-container">
        <h1  id="recovery">{{_("პაროლის აღდგენა")}}</h1>
        <form class="authorize" method="post">
            <div>
                <label id="email" for="umail">{{_("მიუთითეთ ელფოსტა")}}</label>
                <input type="email" name="umail" required>
            </div>
            <div class="login-btn">
                <button type="submit">
                    <a id="recbtn">{{_("აღდგენა")}}</a>
                </button>
            </div>
        </form>
    </div>
</main>
{% endblock %}