{% extends 'layouts/base.html' %}


{% block main %}
<main>
    <div class="container">
        <a class="go-back" href="../..">
            <img src="{{ url_for('static', filename='img/icons/arrow.png') }}" alt="back arrow">
        </a>
        {% if session['locale'] == 'KA' %}
            <h1>{{ categorie.name_eng }}</h1>
        {% else %}
            <h1>{{ categorie.name_geo }}</h1>
        {% endif %}

        <section class="bunnies">
            <ul>
                {% for toy in toys %}
                    <li class="product">
                    <a id="product1" href="{{ url_for('product.view_product', id=toy.id) }}">
                            <img src="{{ url_for('static', filename='img/products/' + toy.photo) }}" alt="{{ toy.name_eng }}">
                            <div class="product-info">
                                <span>{{ toy.price }}₾</span>
                                <button id="buyButton1">{{_('შეძენა')}}</button>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </div>
</main>
{% endblock %}
