{% extends 'layouts/base.html' %}


{% block main %}
<main>
    <div class="container cart-container">
        <a class="go-back" href="../product/product-page.html">
            <img src="../../static/img/icons/arrow.png" alt="back arrow">
        </a>
        <h1 id="cartTitle">კალათი</h1>
        <div class="cart-products">
            <div class="cart-product-image">
                <img id="cartImg" src="../../static/img/products/bunny-purple.jpg" alt="purple bunny toy">
            </div>

            <div class="cart-details">
                <div>
                    <span id="cartAmount">რაოდენობა:</span>
                    <span id="amountNum">{{ toy.stock }}</span>
                </div>
                <div>
                    <span id="cartPrice">ღირებულება:</span>
                    <span id="priceNum">{{ toy.price }}</span>
                    <span>₾</span>
                </div>
                <div>
                    <button id="remove">წაშალე</button>
                </div>
                <div class="total">
                    <span id="total">ჯამი:</span>
                    <span id="sum">{{ order.order_price }}</span>
                    <span>₾</span>
                </div>
            </div>
        </div>
        <form class="place-order" action="#">
            {{ form.hidden_tag() }}
            <div class="sender-info">
                <div class="sender-name">
                    {{ form.ord_fullname.label }}
                    {{ form.ord_fullname }}
                </div>
                <div class="sender-phone">
                    {{ form.ord_phone.label }}
                    {{ form.ord_phone }}
                </div>
                <div class="email">
                    {{ form.ord_email.label }}
                    {{ form.ord_email }}
                </div>
            </div>
            <div class="recipient-info">
                <div class="recipient-name">
                    {{ form.fullname.label }}
                    {{ form.fullname }}
                </div>
                <div class="recipient-phone">
                    {{ form.phone.label }}
                    {{ form.phone }}
                </div>
                <div class="delivery-address">
                    {{ form.delivery_address.label }}
                    {{ form.delivery_address }}
                </div>
            </div>
            <div class="pay">
                <button id="cartPay">გადახდა</button>
            </div>
        </form>
    </div>
</main>
{% endblock %}