{% extends 'layouts/base.html' %}


{% block main %}
<main>
    <div class="container">
        <a class="go-back" href="bunnies.html">
            <img src="../../static/img/icons/arrow.png" alt="back arrow">
        </a>
        <h1 id="productTitle">{{ toy.name_geo }}</h1>
        <div class="product-details">
            <div class="product-image">
                <img src="{{ toy.photo }}" alt="{{ toy.name_eng }}">
            </div>
            <div class="product-description">
                <p id="description">{{ toy.desc_geo }}</p>
                <div class="buy">
                    <span id="price">ღირებულება:</span>
                    <div>
                        <span>{{ toy.price }}₾</span>
                        <a id="buyA">
                            <button class="add-to-cart" id="buyButton">შეძენა</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}