{% extends 'layouts/base.html' %}


{% block main %}
<main>
    <div class="container">
        <a class="go-back" href="{{ url_for('product.category', category_id=toy.category_id) }}">
            <img src="{{ url_for('static', filename='img/icons/arrow.png') }}" alt="back arrow">
        </a>
        {% if session['locale'] == 'KA' %}
            <h1>{{ toy.name_eng }}</h1>
        {% else %}
            <h1>{{ toy.name_geo }}</h1>
        {% endif %}
        <div class="product-details">
            <div class="product-image">
                <img src="{{ url_for('static', filename='img/products/' + toy.photo) }}" alt="{{ toy.name_eng }}">
            </div>
            <div class="product-description">
                {% if session['locale'] == 'KA' %}
                    {{ desc_eng | safe }}
                {% else %}
                    {{ desc_geo | safe }}
                {% endif %}
                <div class="buy">
                    <span id="price">{{_('ღირებულება')}}:</span>
                    <div>
                        <span>{{ toy.price }}₾</span>
                        <a id="buyA">
                            <button class="add-to-cart" id="buyButton" onclick="getInfo('{{toy.photo}}', '{{toy.price}}')">{{_('შეძენა')}}</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}